<br><br>

<div>
  <h3> How often would you like your media to be deleted?</h3>
  <h3> Every: </h3>
  <select [(ngModel)]="removePeriod">
    <option value="1">1 Minute</option>
    <option value="5">5 Minutes</option>
    <option value="15">15 Minutes</option>
    <option value="30">30 Minutes</option>
    <option value="60">1 Hour</option>
    <option value="180">3 Hours</option>
    <option value="360">6 Hours</option>
    <option value="720">12 Hours</option>
    <option value="1440">24 Hours</option>
    <option value="2880">48 Hours</option>
    <option value="0">Never</option>
  </select>
  <button class="button" (click)="editPreferences()">Submit</button>
</div>
