
<div class="container">

  <br>
  <br>
  <br>



<div class="typewriter">
  <h1>Your Recorded Videos and Images</h1>
</div>
<br>
  <br>
  <br>


<table class="fixed">
  <tbody>
    <col width="100px" />
    <col>
    <col>
  <tr *ngFor="let mxdto of listOfMediax; let i = index">
    <div class="recordrow">
      <td style="width:30em;">
        <p style="margin:10px; display: inline-block;">{{mxdto.filename}}</p><button class="btn btn-sm btn-outline-primary" (click)="rename(mxdto)" style="display: inline-block;">Rename</button>
      </td>
      <td>
        <p>{{mxdto.timestamp}}</p>
      </td>
      <td>
        <p>{{mxdto.location}}</p>
      </td>
      <td>
        <!-- <img id="img{{i}}" src="{{mxdto.url}}" height="200px;" style="visibility: hidden"/>
        <button id="sh{{i}}" (click)="showhide(mxdto,i)">Show</button> -->
        <button class="btn btn-outline-primary" (click)="open(content,mxdto)">Show</button>
      </td>
      <td>
        <a class="btn btn-outline-primary" href="{{mxdto.url}}" target="_blank" rel="noopener noreferrer" download="{{mxdto.url}}">Download</a>
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="deleteMediax(mxdto)">Delete</button>
        
      </td>
    </div>
  </tr>
  </tbody>
</table>




<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{currentmx.filename}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <img width="100%;" [src]="currentmx.url"/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Alright</button>
  </div>
</ng-template>

</div>