
<div class="container">

<br>
  <br>
  <br>

<h2 id="bob">Your recorded videos and images</h2>
<table>
  <tbody>
  <tr>
  <tr *ngFor="let mxdto of listOfMediax; let i = index">
    <div class="recordrow">
      <td>
        <p>{{mxdto.filename}}</p><button (click)="rename(mxdto)">Rename</button>
      </td>
      <td>
        <p>{{mxdto.timestamp}}</p>
      </td>
      <td>
        <p>{{mxdto.location}}</p>
      </td>
      <td>
        <img id="img{{i}}" src="{{mxdto.url}}" height="200px;" style="visibility: hidden"/>
        <button id="sh{{i}}" (click)="showhide(mxdto,i)">Show</button>
      </td>
      <td>
        <a href="{{mxdto.url}}" target="_blank" rel="noopener noreferrer" download>Download</a>
      </td>
      <td>
        <button (click)="deleteMediax(mxdto)">Delete</button>
      </td>
      <hr>
    </div>
  </tr>
  </tbody>
</table>

</div>
