h1 {
  text-align: left;
  padding-left: 85px;
  //background: white;
  //color: #050505;
}
h3 {
  text-align: left;
  padding-left:30px;
  background: #EAEAEC;
  color: #050505;

}
p {
  text-align: left;
  padding-left:30px;
  color: #050505;
}

div {
  text-align: left;
  padding-left:30px;
}
.btn btn-primary{
  margin-right: 2.5%;
}

.btn btn-success{
  margin-right: 2.5%;

}

#main {
  background-image: url("../../../assets/shutterstock_611542028.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#body {
  background: #EAEAEC;
  width: 40%;
}

h1.btn btn-primary {
  padding: 5px 5px;
}

h1.btn btn-success {
  padding: 5px 5px;
}

.font-varies {
  font-size: 1em;
}
