h1 {
  text-align: left;
  padding-left: 85px;
  background: white;
}
h3 {
  text-align: left;
  padding-left:30px;
  background: #EAEAEC;

}
p {
  text-align: left;
  padding-left:30px;
}

div {
  text-align: left;
  padding-left:30px;
}
.btn btn-primary{
  margin-right: 2.5%;
}

.btn btn-success{
  margin-right: 2.5%;

}

#main {
  background-image: url("../../../assets/shutterstock_611542028.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#body {
  background: #EAEAEC;
  width: 40%;
}

h1.btn btn-primary {
  padding: 5px 5px;
}

h1.btn btn-success {
  padding: 5px 5px;
}

