<nav class="navbar navbar-dark bg-primary nav-cont">
  <div *ngIf="loggedIn">
    <i class="bi bi-camera-fill"></i>
    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="camera">Camera</a>
    <a mat-button routerLink="records">Records</a>
    <a mat-button routerLink="neighbors">Neighbors</a>
    <a mat-button routerLink="preferences">Preferences</a>
    <a mat-button routerLink="faq">FAQ</a>
    <a mat-button routerLink="about-us">About Us</a>
    <a mat-button (click)="logout()">Log Out</a>
  </div>
  <div *ngIf="!loggedIn">
    <i class="bi bi-camera-fill"></i>
    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="faq">FAQ</a>
    <a mat-button routerLink="about-us">About Us</a>
    <a mat-button routerLink="login">Login</a>
    <a mat-button routerLink="register">Register</a>


  </div>
</nav>
