<div class="row">
  <div class="column" id="left">
    <div class= "row profile">
      <div class="col profile">
        <p><b>Name: </b> {{this.authServ.loggedInUser.firstname + ' ' +  this.authServ.loggedInUser.lastname}}</p>
        <p><b>Username: </b>{{this.authServ.loggedInUser.username}}</p>
        <p><b>Email: </b>{{this.authServ.loggedInUser.email}}</p>
        <button class="button" routerLink="/password-reset">Change Password</button>
      </div>

    </div>

  </div>
  <div class="column" id="center">
    <br><br>
    <app-camera></app-camera>

  </div>
  <div class="column" id="right">
    <app-preferences></app-preferences>
  </div>
</div>


