.login-input {
  margin-top:2%;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%
}


.login-btn {
  width:50%;
  margin-bottom:10%;
  background-color: #1877F2;
  color:white;
  font-family: "Helvetica", sans-serif;
  font-size:20px;
  font-weight:bold;
  border: none;
  border-radius:5px;
  height:50px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}


//700px
@media (min-width: 43.75em) {
  .login-btn {
    width:50%;
    margin-bottom:12%;
    margin-top:2%;
    background-color: #1877F2;
    color:white;
    font-family: "Helvetica", sans-serif;
    font-size:20px;
    font-weight:bold;
    border: none;
    border-radius:5px;
    height:50px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;

  }
}

/* 992px */
@media (min-width: 62em) {
  .login-input {
    margin-top:5%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%
  }

  .login-btn {
    width:50%;
    margin-bottom:10%;
    margin-top:10%;
    background-color: #1877F2;
    color:white;
    font-family: "Helvetica", sans-serif;
    font-size:20px;
    font-weight:bold;
    border: none;
    border-radius:5px;
    height:50px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;

  }

}

/* 1392px */
@media (min-width: 87em) {
  .login-input {
    margin-top:5%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%
  }

  .login-btn {
    width:50%;
    margin-top:5%;
    background-color: #1877F2;
    color:white;
    font-family: "Helvetica", sans-serif;
    font-size:20px;
    font-weight:bold;
    border: none;
    border-radius:5px;
    height:50px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
  }


}

p {
  padding-top: 10%;
  text-align: center;
}

