h3 {
  text-align: left;
  padding-left:30px;
}
p {
  text-align: left;
  padding-left:30px;
}
h2 {
  text-align: center;
  padding-left:30px;
}

form {
  text-align: Center;
  padding-right:30px;

}

.button {
  width:150px;
  margin-top:2%;
  margin-bottom:5%;
  margin-left:5%;
  margin-right:5%;
  background-color: #1877F2;
  color:white;
  font-family: "Helvetica", sans-serif;
  font-size:20px;
  font-weight:bold;
  border: none;
  border-radius:5px;
  height:50px;
}

.longInput {
  align: Center;
}
