<br><br><br><br>

<div class="container">

  <div>
    <img src={{imageList[4].url}} width="300"
         height="375" alt="..." class="img-cover">
    <br><br><br><br>
    <p style="color: blue">
      Adam Chaplin (AKA Leonardo)
    </p>
    <p style="color: blue">
      <mat-icon>email</mat-icon>
      adam_chaplin@leonardo.com
    </p>
    <p style="color: blue">
      <mat-icon>smartphone</mat-icon>
      (245) 317-8385
    </p>
  </div>

  <div>
    <img src={{imageList[5].url}} width="300"
         height="375" alt="..." class="img-cover">
    <p style="color: orange">
      <br><br><br>
      Gil Gurkirat (AKA Michelangelo)
    </p>
    <p style="color: orange">
      <mat-icon>email</mat-icon>
      gil_gurkirat@michelangelo.net
    </p>
    <p style="color: orange">
      <mat-icon>smartphone</mat-icon>
      (755) 349-1057
    </p>
  </div>

  <div>
    <img src={{imageList[6].url}} width="300"
         height="375" alt="..." class="img-cover">
    <br><br><br><br>
    <p style="color: red">
      Niraj Patel (AKA Raphael)
    </p>
    <p style="color: red">
      <mat-icon>email</mat-icon>
      niraj_patel@raphael.org
    </p>
    <p style="color: red">
      <mat-icon>smartphone</mat-icon>
      (630) 822-6104
    </p>
  </div>

  <div>
    <img src={{imageList[7].url}} width="300"
         height="375" alt="..." class="img-cover">
    <br><br><br><br>
    <p style="color: purple">
      Uwem Ekong (AKA Donatello)
    </p>
    <p style="color: purple">
      <mat-icon>email</mat-icon>
      uwem_ekong@donatello.gov
    </p>
    <p style="color: purple">
      <mat-icon>smartphone</mat-icon>
      (199) 474-2008
    </p>
  </div>
</div>
