<div>
        <p><b>Username: </b>{{this.authServ.loggedInUser.username}}</p>
        <p><b>email: </b>{{this.authServ.loggedInUser.email}}</p>
        <p><b>Reset Token: </b>{{this.authServ.loggedInUser.resetToken}}</p>
  <form #userData="ngForm" (ngSubmit)="changePassword(userData)" novalidate>
    <div class="form-group">
      <input (click)="clearPasswordPlaceholder()" class="form-control login-input" name="password" value="password" id="password" ngModel="{{passwordPlaceholder}}"><br>
    </div>
    <button class="login-btn">Reset Password!</button>
  </form>
</div>
