<br><br><br>
<h3 style="color: blue">
  Adam Chaplin (AKA Leonardo)
</h3>
<br>
<p>
  <img src="https://i.pinimg.com/564x/d9/22/90/d922908749dbe98d1e71567284f45dff.jpg" width="300"
       height="300" alt="..." class="img-cover">
</p>
<p style="color: blue">
  <mat-icon>email</mat-icon>
  adam_chaplin@leonardo.com
</p>
<p style="color: blue">
  <mat-icon>smartphone</mat-icon>
  (245) 317-8385
</p>


<br><br><br>
<h3 style="color: orange">
  Gil Gurkirat (AKA Michelangelo)
</h3>
<br>
<p>
  <img src="https://i.pinimg.com/736x/6d/9f/9d/6d9f9d226ac964ba31d736fad63e5b34--hot-toys-michelangelo.jpg" width="300"
       height="450" alt="..." class="img-cover">
</p>
<p style="color: orange">
  <mat-icon>email</mat-icon>
  gil_gurkirat@michelangelo.net
</p>
<p style="color: orange">
  <mat-icon>smartphone</mat-icon>
  (755) 349-1057
</p>

<br><br><br>
<h3 style="color: red">
  Niraj Patel (AKA Raphael)
</h3>
<br>
<p>
  <img src="https://m.media-amazon.com/images/I/81lZ7lkbQqL._AC_SL1500_.jpg" width="300"
       height="300" alt="..." class="img-cover">
</p>
<p style="color: red">
  <mat-icon>email</mat-icon>
  niraj_patel@raphael.org
</p>
<p style="color: red">
  <mat-icon>smartphone</mat-icon>
  (630) 822-6104
</p>

<br><br><br>
<h3 style="color: purple">
  Uwem Ekong (AKA Donatello)
</h3>
<br>
<p>
  <img src="https://images-na.ssl-images-amazon.com/images/I/511HDzjKsrL.jpg" width="300"
       height="350" alt="..." class="img-cover">
</p>
<p style="color: purple">
  <mat-icon>email</mat-icon>
  uwem_ekong@donatello.gov
</p>
<p style="color: purple">
  <mat-icon>smartphone</mat-icon>
  (199) 474-2008
</p>
<br><br><br>

