.register-cont {
  width:80%;
  margin-left:10%;
  margin-right:10%;
  margin-top:100px;
}

.form-row {
  width:100%;
}
.email-row{
  width:100%;
}

.register-lbl {
  text-align:left;
}

.register-btn {
  margin-top:20px;
  width:40%;
  margin-left:30%;
  margin-right:30%;
  margin-bottom:10%;
  background-color: #1877F2;
  color:white;
  font-family: "Helvetica", sans-serif;
  font-size:20px;
  font-weight:bold;
  border: none;
  border-radius:5px;
  height:50px;
}

.login-btn {
  width:40%;
  margin-left:30%;
  margin-right:30%;
  background-color: #42B72A;
  color:white;
  font-family: "Helvetica", sans-serif;
  font-size:20px;
  font-weight:bold;
  border: none;
  border-radius:5px;
  height:50px;
}

//700px
@media (min-width: 43.75em) {
  .register-btn {
    margin-top:20px;
     width:40%;
     margin-left:30%;
     margin-right:30%;
     margin-bottom:12%;
      background-color: #1877F2;
      color:white;
      font-family: "Helvetica", sans-serif;
      font-size:20px;
      font-weight:bold;
      border: none;
      border-radius:5px;
      height:50px;
  }
}

/* 992px */
@media (min-width: 62em) {
  .register-btn {
    margin-top:20px;
    width:40%;
    margin-left:30%;
    margin-right:30%;
      margin-bottom:10%;
      background-color: #1877F2;
      color:white;
      font-family: "Helvetica", sans-serif;
      font-size:20px;
      font-weight:bold;
      border: none;
      border-radius:5px;
      height:50px;
  }
  
}

  /* 1392px */
  @media (min-width: 87em) {
      .register-btn {
        margin-top:20px;
        width:40%;
        margin-left:30%;
        margin-right:30%;
          background-color: #1877F2;
          color:white;
          font-family: "Helvetica", sans-serif;
          font-size:20px;
          font-weight:bold;
          border: none;
          border-radius:5px;
          height:3rem;
          margin-bottom:5%;
      } 

      
      .login-btn {
        width:40%;
        margin-left:30%;
        margin-right:30%;
          background-color: #42B72A;
          color:white;
          font-family: "Helvetica", sans-serif;
          font-size:20px;
          font-weight:bold;
          border: none;
          border-radius:5px;
          height:2rem;
      }
    }

